body{
    background-color:rgb(118, 118, 193);
}
/*ID Selector*/
#h1{
    text-align: center;
    color: blue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
/*Class Selector*/
.h4{
    color: rgb(228, 208, 208);
    background-color:darkgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

}

.p{
    color: brown;
    background-color:floralwhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

